/* Estilos para el corazon de me gusta */

/* Por defecto, el coraz贸n es blanco con bordes negros */
.heart {
    color: "#000000";
    position: absolute;
    left: 10px; /* Ajusta la posici贸n a la izquierda */
    bottom: 10px; /* Ajusta la posici贸n hacia abajo */
}

/* Cuando se hace clic en el coraz贸n, cambia a color rojo */
.heart.liked {
    color: red;
}

/* ---------------------------------------------------- */
/* Linea diagonal para evento finalizado */

.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    display: block;
}

.image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, transparent 48%, rgb(138, 3, 3) 48%, rgb(138, 3, 3) 52%, transparent 52%);
    z-index: 1;
    pointer-events: none;
    display: none;
}

.image-container.evento-finalizado::before {
    display: block;
}

/* ---------------------------------------------------- */

