/* Estilos para el corazon de me gusta */

/* Por defecto, el coraz贸n es blanco con bordes negros */
.heart {
    color: "#000000";
    position: absolute;
    left: 10px; /* Ajusta la posici贸n a la izquierda */
    bottom: 10px; /* Ajusta la posici贸n hacia abajo */
}

/* Cuando se hace clic en el coraz贸n, cambia a color rojo */
.heart.liked {
    color: red;
}